header, footer {
    background-color: rgb(255, 188, 72);
    padding: 16px;
}

header {
    text-align: right;
}

header button, footer button {
    height: 35px;
    width: 80px;
    color: rgb(218, 255, 201);
    background-color: rgb(32, 197, 255);
}

.main_content {
    padding: 18px;
    border: 2px solid darkslategrey;
    border-image: initial;
    margin: 15px;
}

.section {
    background-color: aliceblue;
    margin: 8px;
}

.section button {
    height: 28px;
    background-color: darkred;
    color: white;
}

.main_content > button {
    height: 20px;
}