<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
<div class="container">
    <form class="form-container" action="#">
        <span><input type="text" id="fname" placeholder="First Name"></span>
        <span><input type="text" id="sname" placeholder="Last Name"></span>
        <span><input type="text" id="email" placeholder="Email"></span>
        <span><input type="text" id="pswrd" placeholder="Password"></span>
        <button onclick="regUser()" >Register</button>
    </form>
</div>

<script src="../js/register.js"></script>
</body>
</html>